<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <!-- <h2 class="govuk-visually-hidden">Support links</h2>
          <ul class="support-links-list">
            <li>
              <a class="support-link" href="/info/accessibility-statement">accessibility-statement</a>
            </li>
          </ul> -->
        <span class="govuk-footer__licence-description">
            Created by UC Leeds for the Department for Work and Pensions Digital.
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
