{% extends "nunjucks/templates/main.njk" %}

{% block pageTitle %}Training{% endblock %}
{% block stylesheets %}{% endblock %}
{% block content %}

        <form action="/my-jobs" method="post">
            <div class="full-page-grid-wrapper">
                <div class="full-page-card">
                    <h1 class="card-text card-heading">Training</h1>
                </div>
            </div>

        </form>

{% endblock %}

{% block scripts %}{% endblock %}